<html>

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 字元集和視窗設定的元資料 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/css/update.css">

    <!-- 頁面標題 -->
    <title>update</title>
</head>

<body>
    <div class="container">
        <div class="data-box">
            <h3>Old Data</h3>
            <form action="/update" method="get">
                <div class="dataText1">
                    <input type="text" placeholder="userid"name='userid'>
                </div>
                <div class="dataText1">
                    <input type="text" placeholder="password"name='password'>
                </div>
                <div class="dataText1">
                    <input type="text" placeholder="username" name="username">
                </div>
                <div class="dataText1">
                    <input type="text" placeholder="phonenum" name="phonenum">
                </div>
        </div>
        <div class="arrow">
            <span class="arrowtext"></span>
        </div>
        <div class="update-box">
            <h3>New Data</h3>
            <div class="dataText1">
                <input type="text" placeholder="newuserid" name="newuserid">
            </div>
            <div class="dataText1">
                <input type="text" placeholder="newpassword" name="newpassword">
            </div>
            <div class="dataText1">
                <input type="text" placeholder="newusername" name="newusername">
            </div>
            <div class="dataText1">
                <input type="text" placeholder="newphonenum" name="newphonenum">
            </div>
        </div>
        <button type="submit" class="btn">Update</button>
            </form>
    </div>






    <!-- Ionicons 腳本用於圖示 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>

</html>