* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/update/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgb(205, 187, 55);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: 350px;
    
}
h3{
    color: rgb(205, 187, 55);
}
.data-box,
.update-box {
    width: 200px;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(134, 122, 30);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 20px;
}

.update-box input{
    width: 150px;
    height: 100%;
    background: transparent;
    border: none;
 
}
.data-box input{
    width: 150px;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 1em;
    color:rgb(84, 209, 119); 
    
}

.update-box input{
    width: 150px;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 1em;
    color:rgb(209, 155, 84); 
    
}
.dataText1{
    position:relative; 
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(209, 155, 84);
    margin: 10px 0 0 0;
}
.arrow {
    width: 0;
    height: 0;
    font-size: 2em;
    display: flex;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid rgba(126, 12, 12, 0.5);
    margin-left: 5px;
}

.btn {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(205, 187, 55);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    cursor: pointer;
    font-size: 1em;
    background: transparent;
    color:aqua
}